#d0 {width:100%;}
#d1 {width:100%;border:2px solid gray;height:150px;margin-top:10px;background-color:#eee;}
#d2 {float:left;text-align:center;width:50%;margin-top:10px;}
#d3 {float:left;text-align:center;width:50%;margin-top:10px;}
#b0 {height:33px;background-color:white;color:#907b7b;}
#b1 {height:33px;background-color:white;color:#907b7b;}