body {background-color:#eee;}
#d0 {float:left;}
#d1 {float:left;height:50px;font-size:22px;margin-left:100px;width:1200px;}
#uri {height:30px;width:250px;margin-top:10px;}
#password {height:30px;width:200px;margin-top:10px;}
#s1 {margin-left:10px;}
#s0 {margin-left:10px;}
#b0 {margin-left:10px;height:27px;font-size:15px;text-align:center;background-color:white;color:#907b7b;}
#t0 {width:100%;height:30px;}
#d3 {height:35px;width:1400px;}
#d4 {height:35px;width:1400px;}
#h0 {border:0px;background-color:gray;height:2px;}